.Container {
  min-height: 100px;
  display: flex;
  row-gap: 16px;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  margin: 0 auto;
  position: relative;

  .disabled {
    /* opacity: 0.5; */
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  @media (min-width: 992px) {
    max-width: 562px;
  }
  @media (min-width: 1200px) {
    max-width: 770px;
  }
  @media (min-width: 1400px) {
    max-width: 970px;
  }

  &_form {
    max-height: max-content;
    display: flex;
    row-gap: 16px;
    flex-direction: column;

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_title {
        text-align: center;
        white-space: nowrap;
      }
    }

    // для марок машин
    .card {
      &_month {
        padding: 20px !important;
      }

      &_grid {
        padding: 20px !important;
        width: 50%;
        box-shadow: none;

        @media (max-width: 1199px) {
          width: 100%;
        }
      }
    }

    &_card {
      overflow: hidden;
      background-color: #fafafa;
      box-sizing: border-box;

      .gridTop {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 40px;
        padding: 0;
      }
    }
  }
}

.data {
  display: flex;
  row-gap: 16px;
  flex-direction: column;

  .cardinner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    width: 100%;
  }

  // грид в карточках по месяцам
  .grid {
    width: 50%;
    box-shadow: none;

    &.order0, &.order3 {
      padding: 20px 20px 8px 20px !important;
    }
    &.order1, &.order4 {
      padding: 8px 20px 8px 20px !important;
    }
    &.order2, &.order5 {
      padding: 8px 20px 20px 20px !important;
    }

    @media (max-width: 1199px) {
      width: 100%;
      &.order0 {
        order: 0;
      }
      &.order1 {
        order: 1;
      }
      &.order2 {
        order: 2;
      }
      &.order3 {
        order: 3;
      }
      &.order4 {
        order: 4;
      }
      &.order5 {
        order: 5;
      }
    }
  }
}
