// .form {
//   .ant-form-item-label {
//     label:where(.ant-form-item-required) {
//       &::before {
//         content: '';
//       }

//       &::after {
//         visibility: visible !important;
//         display: inline-block;
//         margin-inline-end: 4px;
//         color: #ff4d4f;
//         font-size: 14px;
//         font-family: SimSun, sans-serif;
//         line-height: 1;
//         content: '*';
//       }
//     }
//   }
// }

.commonForm {
  &_container {
    // height: 100%;
    min-width: 350px;
    // width: 350px;
    // height: 90vh;
    // position: -webkit-sticky;
    // position: sticky;
    // overflow-y: auto;
    // overflow-x: hidden;

    .form {
      // width: 700px;
      // width: 500px;
      padding: 20px;
      background-color: white;
      margin: 0 auto;
      border-radius: 6px;
      height: max-content;

      // &_item {
      //   margin-bottom: 14px !important;
      // }
    }
  }
}
