* {
  margin: 0;
  padding: 0;
}

/* :root { */
/* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
/* } */

body,
html {
  width: 100%;
  /* height: '100%', */
  /* min-height: 100vh;
  height: 100vh; */
  /* max-height: 100%; */
  /* width: 100%; */
  /* overflow-x: auto; */
  /* overflow-y: auto; */
}

::-webkit-scrollbar {
  border-radius: 8px;
  height: 10px;
  width: 7px;
  /* background-color: #96b2ee; */
  background-color: transparent;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  height: 10px;
  width: 7px;
  /* background-color: #96b2ee; */
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cdced1;
  border-radius: 8px;
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  transition: 0.3s;
  background-color: #1677ff75;
  border-radius: 8pxrgb (22, 119, 255);
}

/* html,
body {
  overflow-y: hidden;
} */

a {
  /* font-weight: 500; */
  text-decoration: none;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

.menu::before {
  display: none;
}

/* .menu li {
  line-height: 4.5;
} */

.menu .ant-menu-item-selected {
  background-color: #f3f3f3;
}

.active-class {
  color: black !important;
  cursor: pointer;
  pointer-events: none;
}